@import "compass/reset";
@import "compass/css3";

$primaryColour: #FF335E;
$secondaryColour: #2C3E50;
$white: #FFF;

@import url(http://fonts.googleapis.com/css?family=Montserrat);

html {
	height: 100%;
	font-size:100%;
	line-height: initial;
	background: url('../images/bg.png');
	background: linear-gradient(rgba(0, 0, 0, 0), $primaryColour), url('../images/bg.png');
}

body {
	height: 90%;
	font-family: montserrat, arial, verdana;
	font-size: 1rem;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background: url('../images/logo-bottom.png') bottom center no-repeat;
}

.CodeMirror { 
	height: auto;
	@include border-radius(3px 3px 0 0);
	
	.CodeMirror-scroll { 
		max-height: 448px;

		.CodeMirror-cursor { 
			display: none !important;
		}
	}
}