@import url(http://fonts.googleapis.com/css?family=Montserrat);
/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/_base.scss */
html {
  height: 100%;
  font-size: 100%;
  line-height: initial;
  background: url("../images/bg.png");
  background: linear-gradient(rgba(0, 0, 0, 0), #ff335e), url("../images/bg.png");
}

/* line 18, ../sass/_base.scss */
body {
  height: 90%;
  font-family: montserrat, arial, verdana;
  font-size: 1rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: url("../images/logo/logo-bottom.png") bottom center no-repeat;
}

/* line 27, ../sass/_base.scss */
.CodeMirror {
  height: auto;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
/* line 31, ../sass/_base.scss */
.CodeMirror .CodeMirror-scroll {
  max-height: 448px;
}
/* line 34, ../sass/_base.scss */
.CodeMirror .CodeMirror-scroll .CodeMirror-cursor {
  display: none !important;
}

/* line 3, ../sass/main.scss */
nav {
  width: 700px;
  margin: 50px auto 30px;
  text-align: center;
}
/* line 8, ../sass/main.scss */
nav #progressbar {
  counter-reset: step;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s;
  -moz-transition: -moz-transform 0.8s;
  -o-transition: -o-transform 0.8s;
  transition: transform 0.8s;
}
/* line 15, ../sass/main.scss */
nav #progressbar li {
  width: 20%;
  line-height: 39px;
  font-weight: bold;
  font-size: 9px;
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  float: left;
  position: relative;
}
/* line 26, ../sass/main.scss */
nav #progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  margin: 0 auto 5px;
  font-weight: normal;
  line-height: 20px;
  font-size: 10px;
  color: #333;
  display: block;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 41, ../sass/main.scss */
nav #progressbar li + li:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  background: white;
}
/* line 53, ../sass/main.scss */
nav #progressbar li.active:before, nav #progressbar li.active:after {
  background: #ff335e;
  color: white;
}

/* line 61, ../sass/main.scss */
#msform {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
/* line 67, ../sass/main.scss */
#msform fieldset {
  width: 100%;
  padding: 20px 30px;
  border: 0 none;
  box-sizing: border-box;
  background: white;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
/* line 78, ../sass/main.scss */
#msform fieldset:not(:first-of-type) {
  display: none;
}
/* line 82, ../sass/main.scss */
#msform fieldset:last-child h2:after {
  content: ':)';
  margin-left: 10px;
  padding: 5px 8px;
  color: #2c3e50;
  display: inline-block;
  border: 2px solid #ff335e;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transform: rotate(106deg);
  -moz-transform: rotate(106deg);
  -ms-transform: rotate(106deg);
  -o-transform: rotate(106deg);
  transform: rotate(106deg);
}
/* line 94, ../sass/main.scss */
#msform fieldset.fs-step-1 .fs-subtitle {
  text-align: justify;
}
/* line 97, ../sass/main.scss */
#msform fieldset.fs-step-1 .fs-subtitle img {
  vertical-align: bottom;
}
/* line 102, ../sass/main.scss */
#msform fieldset #result {
  max-width: 400px;
  text-align: left;
}
/* line 107, ../sass/main.scss */
#msform fieldset .fs-title {
  margin-bottom: 10px;
  font-size: 15px;
  color: #2c3e50;
  text-transform: uppercase;
}
/* line 113, ../sass/main.scss */
#msform fieldset .fs-title span {
  color: #ff335e;
}
/* line 118, ../sass/main.scss */
#msform fieldset .fs-subtitle {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 13px;
  color: #666;
}
/* line 126, ../sass/main.scss */
#msform fieldset input,
#msform fieldset textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 40px;
  font: 13px montserrat;
  color: #2c3e50;
  box-sizing: border-box;
  border: 5px dashed #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 138, ../sass/main.scss */
#msform fieldset textarea {
  max-height: 46px;
  margin-top: 10px;
  padding: 10px;
  resize: none;
  border-style: solid;
}
/* line 146, ../sass/main.scss */
#msform fieldset .action-button {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 0 none;
  background: #ff335e;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 160, ../sass/main.scss */
#msform fieldset .action-button:hover, #msform fieldset .action-button:focus, #msform fieldset .action-button:active {
  background: #2c3e50;
}
/* line 165, ../sass/main.scss */
#msform fieldset .action-button.previous, #msform fieldset .action-button.next2 {
  width: 48%;
}
/* line 169, ../sass/main.scss */
#msform fieldset .action-button.next2 {
  margin-left: 6px;
}
/* line 173, ../sass/main.scss */
#msform fieldset .action-button.action-button-alt {
  padding: 7px 5px;
  color: #ff335e;
  border: 3px solid #ff335e;
  background: white;
  box-sizing: border-box;
}
/* line 182, ../sass/main.scss */
#msform fieldset .action-button.action-button-alt:hover, #msform fieldset .action-button.action-button-alt:focus, #msform fieldset .action-button.action-button-alt:active {
  color: #2c3e50;
  border: 3px solid #2c3e50;
}
/* line 187, ../sass/main.scss */
#msform fieldset .action-button.action-button-alt:disabled {
  color: #ffe5eb;
  border-color: #ffe5eb;
  background: white;
}
/* line 194, ../sass/main.scss */
#msform fieldset .action-button.download {
  width: 100%;
  margin: 0 0 10px;
  display: block;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
/* line 202, ../sass/main.scss */
#msform fieldset .action-button.download:link, #msform fieldset .action-button.download:visited {
  text-decoration: none;
}
/* line 207, ../sass/main.scss */
#msform fieldset .action-button:disabled {
  cursor: default;
  background: #ffe5eb;
}
